<div
  style="
    --top-bar-background: #00848e;
    --top-bar-background-lighter: #1d9ba4;
    --top-bar-color: #f9fafb;
    --p-frame-offset: 0px;
  "
>
  <div style="height: 250px;">
    <div class="Polaris-Frame" data-polaris-layer="true">
      <div class="Polaris-Frame__Skip">
        <a href="#AppFrameMainContent" class="Polaris-Frame__SkipAnchor"
          >Skip to content</a
        >
      </div>
      <div
        class="Polaris-Frame__ContextualSaveBar Polaris-Frame-CSSAnimation--startFade"
      ></div>
      <main
        class="Polaris-Frame__Main"
        id="AppFrameMain"
        data-has-global-ribbon="false"
      >
        <a id="AppFrameMainContent" tabindex="-1"></a>
        <div class="Polaris-Frame__Content">
          <div class="Polaris-Page">
            <div class="Polaris-Page-Header Polaris-Page-Header--mobileView">
              <div class="Polaris-Page-Header__MainContent">
                <div class="Polaris-Page-Header__TitleActionMenuWrapper">
                  <div>
                    <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                      <div class="Polaris-Header-Title">
                        <h1
                          class="Polaris-DisplayText Polaris-DisplayText--sizeLarge"
                        >
                          Toast example
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Polaris-Page__Content">
              <button type="button" class="Polaris-Button">
                <span class="Polaris-Button__Content"
                  ><span class="Polaris-Button__Text">Show Toast</span></span
                >
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<div class="Polaris-Frame-ToastManager" aria-live="polite"></div>
